h1 {
    background: #4682B4;
    font: 25pt serif;
    margin-bottom: 10px;
    color:white;
    padding: 15px;
    width: 260px;
    border-radius: 5px 5px;
}

h2 {
    font: 20pt serif;
    margin-left: 15px;
    color: black;
}

ul {
    background: #F0F8FF;
    width: 250px;
    border-radius: 5px 5px;
    font: 15pt serif;
}

#add {
    background: #F5F5F5;
    width: 290px;
    border-radius: 5px 5px;
    font: 3pt serif;
    color: transparent;
}

#ad {
    margin-left: 35px;
    padding: 5px;
}
